<retreat-links-header>
  <style>
  .selected {
    font-size: 2em;
  }
  </style>
  <div class="row row-center">
        <div class="column center">
          <a href="/" class={props.selectedTab === 1 ? 'selected' : ''}>ဆရာတော် ဦးဃောသိတာဘိဝံသ</a>
        </div>
        <div class="column center">
          <a href="/retreat2.html" class={props.selectedTab === 2 ? 'selected' : ''}>ဆရာတော် ဘဒ္ဒန္တဩသဓ</a>
        </div>
  </div>
</retreat-links-header>
